@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family:'Poppins', sans-serif;
}

body{
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
}

h1 {
    color: #1ED760; 
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 16px;
    margin: 0 0 5px 0;
    text-align: center;
}

p {
    color: white;
    font-size: 16px; 
    margin-bottom: 20px;
    text-align: center; 
}

form {
    text-align: center; 
}

.emphasize{
    color:#1db954;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 100svh;
    background: linear-gradient(45deg, #1db954, #212121, #121212, #1db954);
    background-size: 300% 300%;
    animation: color 25s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}

.login_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    background: linear-gradient(45deg, #1db954, #212121, #121212, #1db954);
    background-size: 300% 300%;
    animation: color 25s ease-in-out infinite;
}

.login_box{
    position: relative;
    width: 450px;
    backdrop-filter: blur(1000px);
    border: 2px solid #212121;
    border-radius: 15px;
    padding: 4em 3em 4em 3em;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.commands_box{
    position: sticky;
    top: 20px;
    width: 450px;
    backdrop-filter: blur(1000px);
    border: 2px solid #212121;
    border-radius: 15px;
    padding: 1em 2em 1em 2em;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.playlist_box{
    position: relative;
    width: 450px;
    backdrop-filter: blur(1000px);
    border: 2px solid #212121;
    border-radius: 15px;
    padding: 1em 2em 1em 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.control_box{
    position: sticky;
    top: 20px;
    width: 450px;
    backdrop-filter: blur(1000px);
    border: 2px solid #212121;
    border-radius: 15px;
    padding: 1em 2em 1em 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

input[type="submit"] {
    background-color: #1ED760;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 100%;
}

input[type="submit"]:hover {
    padding: 12px 20px;
    background-color: #1ED760;
    box-shadow: 0 0 15px #39ff14;
}

input[type="submit"]:focus {
    outline: none;
}

button[type="submit"] {
    background-color: #1ED760;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 100%;
}

button[type="submit"]:hover {
    padding: 12px 20px;
    background-color: #1ED760;
    box-shadow: 0 0 15px #39ff14;
}

button[type="submit"]:focus {
    outline: none;
}

table{
    border-radius: 15px;
}

.control_box button[type="submit"] {
    background-color: #1ED760;
    color: #fff;
    padding: 12px 20px;
    margin: 5px 0px 0px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 100%;
}